body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, Helvetica, Sans-Serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

#scrollableElement {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    overflow-y: scroll;
}

img {
    margin-right: 2vh;
    width: 40vh;
}

#backgroundImage {
    z-index: -30;
    height: 100vh;
    width: auto;
    object-fit: contain;
}

.bunnycursor {
    cursor: url(../images/bunny.png) 33 55, auto;
}

.overImage div {
    position: absolute;
}

/* IMPORTANT: Use vh for positioning so that it will adapt to different screen sizes! */
#nav {
    left: 0vh;
    width: fit-content;
    height: 100vh;
    background-color: hotpink;
    text-align: center;
    position: fixed; /* Set the navbar to fixed position */
    z-index: 1;
}

#nav p {
    margin: 1.5em;
}

#nav p:hover{
    color: white;
    animation: pulse 1s;
    transition: 1s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    80% {
        transform: scale(.75);
    }
    100% {
        transform: scale(1.5);
    }
}

#title {
    left: 0vh;
}

#about {
    top: 5vh;
    left: 200vh;
    width: 31vh;
    text-align: center;
}

#faq {
    top: 5vh;
    left: 420vh;
    width: 40vw;
    text-align: center;
}

#faq ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.faqButton {
    width: 100%;
    margin-bottom: 2vh;
}

#schedule {
    top: 5vh;
    left: 590vh;
    text-align: center;
}

#members {
    top: 5vh;
    left: 670vh;
    text-align: center;
}

#sponsor {
    top: 39vh;
    left: 670vh;
    text-align: center;
}

#socials {
    top: 68vh;
    left: 670vh;
    text-align: center;
}

/* Special styling for smaller screens only */
@media all and (max-width: 768px) {
    #faq {
        width: 70vw;
    }
}